
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center> 
<center><b><h2>Dave Dhruv Viralkumar - 24010101050</h2></b></center>
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World")

Hello World

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [2]:
name = input()
print("Hello", name,", welcome to Python Lab")

Hello  , welcome to Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [1]:
a,b,c = map(int, input().split())
print(a,b,c)
print(a + b + c)
print( (a + b + c) // 3)

 5 4 3

5 4 3
12
4

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [1]:
name, age, per = input().split()
age = int(age)
per = float(per)
print(f"Name: {name} Type: {type(name)}")
print(f"Age: {age} Type: {type(age)}")
print(f"Percentage: {per} Type: {type(per)}")

 Dhruv 18 98.5

Name: Dhruv Type: <class 'str'>
Age: 18 Type: <class 'int'>
Percentage: 98.5 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [17]:
print("Python", "Programming", "Basics", sep = '|', end = '###')

Python|Programming|Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [18]:
name = input()
print(f"Value: {name}")
print(f"Type: {type(name)}")
print(f"ID: {id(name)}")

 hello

Value: hello
Type: <class 'str'>
ID: 3113149565664

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [19]:
a = int(input())
print(f"Original ID of a: {id(a)}")
a = int(input())
print(f"New ID of a: {id(a)}")

 10

Original ID of a: 140706177201352

 20

New ID of a: 140706177201672

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [33]:
print("""Welcome to Python ,
      This is the second lab, 
      Enjoy coding!""")

Welcome to Python ,
      This is the second lab,
      Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [4]:
print(f"{'Sr No':} {'Name':^15} {'Subject': ^1} {'Grade': ^10} {'Percentage':}")
print(f"{'1': >5} {'Nisha Patel': ^15} {'Math': <10} {'A': ^3} {92: >14}")
print(f"{'2': >5} {'Aarav Modi': ^15} {'Science': <10} {'B+': ^4} {85: >13}")
print(f"{'3': >5} {'Jiya Shah': ^15} {'English': <10} {'A+': ^4} {96: >13}")

Sr No      Name       Subject   Grade    Percentage
    1   Nisha Patel   Math        A              92
    2   Aarav Modi    Science     B+             85
    3    Jiya Shah    English     A+             96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [94]:
a = float(input())
print(f" 2 decimals: {round(a,2)}")
print(f" 3 decimals: {round(a,3)}")
print(f" Width 10: {a:.2f}")

 37.2567

 2 decimals: 37.26
 3 decimals: 37.257
 Width 10: 37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [95]:
a,b = map(int, input().split())
print(f"Sum = {a + b}")
print(f"Differece = {a - b}")
print(f"Product = {a * b}")

 12 8

Sum = 20
Differece = 4
Product = 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [97]:
d,m,y = map(int, input().split())
print(d,m,y,sep = '/')
print(y,m,d,sep = '-')

 01 12 2025

1/12/2025
2025-12-1

### 13) WAP to calculate area and perimeter of a circle.

In [99]:
radius = float(input())
area = 3.14 * radius * radius
perimeter = 2 * 3.14 * radius
print("Area = ", area)
print("Perimeter = ", perimeter)

 10

Area =  314.0
Perimeter =  62.800000000000004

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [7]:
c = float(input())
f = float(input())

feh = (c * (9 / 5) + 32)
deg = (f - 32) * (5 / 9)

print("Fahrenheit =", feh)
print("Degree =", deg)

 50
 42

Fahrenheit = 82.0
Degree = 5.555555555555555

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [103]:
km = float(input())

print("Meter :", km * 1000)
print("Feet :", km * 3280.84)
print("Inches :", km * 39370.1)
print("Centimeter: ", km * 100000)

 5

Meter : 5000.0
Feet : 16404.2
Inches : 196850.5
Centimeter:  500000.0